apiVersion: apps/v1
kind: Deployment
metadata:
  name: url-shortener
  namespace: url-shortner
  labels:
    app: url-shortener
spec:
  replicas: 2
  selector:
    matchLabels:
      app: url-shortener
  template:
    metadata:
      labels:
        app: url-shortener
    spec:
      imagePullSecrets:
        - name: ecr-secret
      containers:
        - name: url-shortener
          image: 398195329839.dkr.ecr.us-east-1.amazonaws.com/go-urls-shortner:99732e356c6d681c050605df4ab868dd0c1e22c8
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
              name: http
          env:
            - name: DB_ADDR
              value: "redis:6379"
            - name: DB_PASS
              value: ""
            - name: APP_PORT
              value: ":8080"
          livenessProbe:
            httpGet:
              path: /healthz
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /readyz
              port: http
            initialDelaySeconds: 3
            periodSeconds: 5
            timeoutSeconds: 2
