apiVersion: v1
kind: Service
metadata:
  name: url-shortener
  namespace: url-shortner
  labels:
    app: url-shortener
spec:
  type: ClusterIP
  selector:
    app: url-shortener
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
      name: http
